.cart-item-card {
    margin: 15px 0;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cart-item-img {
    width: 70px; /* Tiny Image */
    height: 80px;
    object-fit: fit;
    border-radius: 5px;
  }
  
  .cart-item-name {
    flex: 1;
  }
  
  .cart-buttons {
    display: flex;
    gap: 10px;
  }
  
  .bulk-remove-btn {
    margin-top: 10px;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .quantity-input {
    width: 50px;
    text-align: center;
  }
  