.product__img img {
    width        : 100%;
    border-radius: 5px 5px 0 0;
 }
 
 .card {
    border    : none !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    display: flex;
 }
 
 .product__img {
    position: relative;
 }
 
 .product__img span {
    position     : absolute;
    bottom       : 0;
    right        : 0;
    width        : max-content;
    height       : max-content;
    z-index      : 10;
    background   : var(--primary-color);
    color        : #fff;
    padding      : 0.1rem 0.3rem;
    border-radius: 3px 0 0 0;
 }
 
 .card__top span i {
    color: var(--secondary-color);
 }
 
 .product__rating {
    font-size: 0.8rem;
    color    : var(--text-color);
 }
 
 .product__location {
    color      : var(--heading-color);
    font-weight: 500;
    font-size  : 1rem;
 }
 
 .product__rating i,
 .product__location i {
    font-size: 1rem;
 }
 
 .product__title {
    margin-top: 1rem;
    font-size : 1rem;
    cursor    : pointer;
 }
 
 .product__title {
    color          : var(--heading-color);
    transition     : 0.3s;
    font-size: larger;
 }
 
 .product__title a:hover {
    color: var(--secondary-color);
 }
 
 .card__bottom h5 {
    color      : var(--secondary-color);
    font-size  : 1rem;
    font-weight: 700;
 }
 
 .card__bottom h5{
    font-weight: 500;
    color      : rgb(88, 149, 53);
    font-size  : 1.2rem;
 }
 
 
 .booking__btn {
    background-color: rgb(0,0,0);
    color: white;
    padding         : 0.6rem;
    transition      : 0.5s;
    cursor          : pointer;
    border          : none;
    border-radius   : 14px 0 14px 0;
    font-style      : italic;
 }
 
 .booking__btn:hover {
    transform: scale(1.1);
    color    : purple;
 }
 
 /* =============== RESPONSIVE ================ */
 @media only screen and (max-width: 576px) {
    .product__title {
       font-size: 1rem;
    }
 
    .booking__btn a {
       font-size: 0.8rem;
    }
 
    .booking__btn {
       padding: 0.2rem 0.5rem !important;
    }
 
    .product__location,
    .product__rating {
       font-size: 0.8rem;
    }
 }