{% extends 'layouts.html' %}
{% load static %}

{% block title %}
<title>My order</title>
{% endblock %}

{% block main-content %}
{% include 'users/header.html' %}



<!-- start of product section -->
<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            {% if items|length < 1%}
            <h2 class="text-center text-danger my-3">No orders</h2>
            {% else %}
            <h2 class="text-center">My Orders</h2>

            {% for msg in messages %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success">
                    {{msg}}
                </div>

            {% endif %}
        {% endfor %}

        {% for msg in messages %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                    {{msg}}
                </div>

            {% endif %}
        {% endfor %}

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Unit Price</th>
                        <th>Product Image</th>
                        <th>Payment Status</th>
                        <th>Delivery Status</th>
                    </tr>
                </thead>

                <tbody>
                    {% for i in items %}
                    <tr>
                        <td>{{i.product.product_name}}</td>
                        <td>{{i.product.product_price}}</td>
                        <td>
                            <img src="/{{i.product.product_image}}" alt="{{i.product.product_name}}" width="100" height="100">

                        </td>
                       <td>  {{i.payment_status}} </td>
                       <td> {{i.delivery_status}} </td>
                    </tr>


                    {% endfor %}
                </tbody>
            </table>


            {% endif %}
        </div>
    </div>
  
</div>

  
<!-- end of product section -->


{% include 'users/footer.html' %}
{% endblock %}